Luna_interpreter/Service References/DocumentEditorService/DocumentEditorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://wfe.mik.uni-pannon.hu/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DocumentEditorService" targetNamespace="http://wfe.mik.uni-pannon.hu/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IDocumentEditorService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:BasicAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://wfe.mik.uni-pannon.hu/Imports">
      <xsd:import schemaLocation="https://wfe.mik.uni-pannon.hu:8735/FlowService/DocumentEditorService/?xsd=xsd0" namespace="http://wfe.mik.uni-pannon.hu/" />
      <xsd:import schemaLocation="https://wfe.mik.uni-pannon.hu:8735/FlowService/DocumentEditorService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://wfe.mik.uni-pannon.hu:8735/FlowService/DocumentEditorService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FlowService.DocumentEditor.DataContracts" />
      <xsd:import schemaLocation="https://wfe.mik.uni-pannon.hu:8735/FlowService/DocumentEditorService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/FlowService.DocumentEditor.DataContracts.Fields" />
      <xsd:import schemaLocation="https://wfe.mik.uni-pannon.hu:8735/FlowService/DocumentEditorService/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/FlowService.Authentication" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDocumentEditorService_GetTemplateDocuments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTemplateDocuments" />
  </wsdl:message>
  <wsdl:message name="IDocumentEditorService_GetTemplateDocuments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTemplateDocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentEditorService_GetTemplateDocumentSections_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTemplateDocumentSections" />
  </wsdl:message>
  <wsdl:message name="IDocumentEditorService_GetTemplateDocumentSections_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTemplateDocumentSectionsResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentEditorService_SaveDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveDocument" />
  </wsdl:message>
  <wsdl:message name="IDocumentEditorService_SaveDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentEditorService_GetCredentials_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCredentials" />
  </wsdl:message>
  <wsdl:message name="IDocumentEditorService_GetCredentials_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCredentialsResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentEditorService_AddEnumeration_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEnumeration" />
  </wsdl:message>
  <wsdl:message name="IDocumentEditorService_AddEnumeration_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEnumerationResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentEditorService_GetEnumerations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEnumerations" />
  </wsdl:message>
  <wsdl:message name="IDocumentEditorService_GetEnumerations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEnumerationsResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentEditorService_GetEnumeration_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEnumeration" />
  </wsdl:message>
  <wsdl:message name="IDocumentEditorService_GetEnumeration_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEnumerationResponse" />
  </wsdl:message>
  <wsdl:portType name="IDocumentEditorService">
    <wsdl:operation name="GetTemplateDocuments">
      <wsdl:input wsam:Action="http://wfe.mik.uni-pannon.hu/IDocumentEditorService/GetTemplateDocuments" message="tns:IDocumentEditorService_GetTemplateDocuments_InputMessage" />
      <wsdl:output wsam:Action="http://wfe.mik.uni-pannon.hu/IDocumentEditorService/GetTemplateDocumentsResponse" message="tns:IDocumentEditorService_GetTemplateDocuments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTemplateDocumentSections">
      <wsdl:input wsam:Action="http://wfe.mik.uni-pannon.hu/IDocumentEditorService/GetTemplateDocumentSections" message="tns:IDocumentEditorService_GetTemplateDocumentSections_InputMessage" />
      <wsdl:output wsam:Action="http://wfe.mik.uni-pannon.hu/IDocumentEditorService/GetTemplateDocumentSectionsResponse" message="tns:IDocumentEditorService_GetTemplateDocumentSections_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveDocument">
      <wsdl:input wsam:Action="http://wfe.mik.uni-pannon.hu/IDocumentEditorService/SaveDocument" message="tns:IDocumentEditorService_SaveDocument_InputMessage" />
      <wsdl:output wsam:Action="http://wfe.mik.uni-pannon.hu/IDocumentEditorService/SaveDocumentResponse" message="tns:IDocumentEditorService_SaveDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCredentials">
      <wsdl:input wsam:Action="http://wfe.mik.uni-pannon.hu/IDocumentEditorService/GetCredentials" message="tns:IDocumentEditorService_GetCredentials_InputMessage" />
      <wsdl:output wsam:Action="http://wfe.mik.uni-pannon.hu/IDocumentEditorService/GetCredentialsResponse" message="tns:IDocumentEditorService_GetCredentials_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEnumeration">
      <wsdl:input wsam:Action="http://wfe.mik.uni-pannon.hu/IDocumentEditorService/AddEnumeration" message="tns:IDocumentEditorService_AddEnumeration_InputMessage" />
      <wsdl:output wsam:Action="http://wfe.mik.uni-pannon.hu/IDocumentEditorService/AddEnumerationResponse" message="tns:IDocumentEditorService_AddEnumeration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEnumerations">
      <wsdl:input wsam:Action="http://wfe.mik.uni-pannon.hu/IDocumentEditorService/GetEnumerations" message="tns:IDocumentEditorService_GetEnumerations_InputMessage" />
      <wsdl:output wsam:Action="http://wfe.mik.uni-pannon.hu/IDocumentEditorService/GetEnumerationsResponse" message="tns:IDocumentEditorService_GetEnumerations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEnumeration">
      <wsdl:input wsam:Action="http://wfe.mik.uni-pannon.hu/IDocumentEditorService/GetEnumeration" message="tns:IDocumentEditorService_GetEnumeration_InputMessage" />
      <wsdl:output wsam:Action="http://wfe.mik.uni-pannon.hu/IDocumentEditorService/GetEnumerationResponse" message="tns:IDocumentEditorService_GetEnumeration_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDocumentEditorService" type="tns:IDocumentEditorService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IDocumentEditorService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTemplateDocuments">
      <soap:operation soapAction="http://wfe.mik.uni-pannon.hu/IDocumentEditorService/GetTemplateDocuments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTemplateDocumentSections">
      <soap:operation soapAction="http://wfe.mik.uni-pannon.hu/IDocumentEditorService/GetTemplateDocumentSections" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDocument">
      <soap:operation soapAction="http://wfe.mik.uni-pannon.hu/IDocumentEditorService/SaveDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCredentials">
      <soap:operation soapAction="http://wfe.mik.uni-pannon.hu/IDocumentEditorService/GetCredentials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEnumeration">
      <soap:operation soapAction="http://wfe.mik.uni-pannon.hu/IDocumentEditorService/AddEnumeration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEnumerations">
      <soap:operation soapAction="http://wfe.mik.uni-pannon.hu/IDocumentEditorService/GetEnumerations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEnumeration">
      <soap:operation soapAction="http://wfe.mik.uni-pannon.hu/IDocumentEditorService/GetEnumeration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DocumentEditorService">
    <wsdl:port name="BasicHttpBinding_IDocumentEditorService" binding="tns:BasicHttpBinding_IDocumentEditorService">
      <soap:address location="https://wfe.mik.uni-pannon.hu:8735/FlowService/DocumentEditorService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>