Luna_interpreter/Service References/DocumentEditorService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://wfe.mik.uni-pannon.hu/" elementFormDefault="qualified" targetNamespace="http://wfe.mik.uni-pannon.hu/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://wfe.mik.uni-pannon.hu:8735/FlowService/DocumentEditorService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FlowService.DocumentEditor.DataContracts" />
  <xs:import schemaLocation="https://wfe.mik.uni-pannon.hu:8735/FlowService/DocumentEditorService/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/FlowService.Authentication" />
  <xs:import schemaLocation="https://wfe.mik.uni-pannon.hu:8735/FlowService/DocumentEditorService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/FlowService.DocumentEditor.DataContracts.Fields" />
  <xs:element name="GetTemplateDocuments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplateDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FlowService.DocumentEditor.DataContracts" minOccurs="0" name="GetTemplateDocumentsResult" nillable="true" type="q1:ArrayOfDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplateDocumentSections">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplateDocumentSectionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FlowService.DocumentEditor.DataContracts" minOccurs="0" name="GetTemplateDocumentSectionsResult" nillable="true" type="q2:ArrayOfSection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FlowService.DocumentEditor.DataContracts" minOccurs="0" name="document" nillable="true" type="q3:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDocumentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredentials">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredentialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FlowService.Authentication" minOccurs="0" name="GetCredentialsResult" nillable="true" type="q4:LoginData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEnumeration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/FlowService.DocumentEditor.DataContracts.Fields" minOccurs="0" name="enumeration" nillable="true" type="q5:Enumeration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEnumerationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnumerations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnumerationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/FlowService.DocumentEditor.DataContracts.Fields" minOccurs="0" name="GetEnumerationsResult" nillable="true" type="q6:ArrayOfEnumeration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnumeration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnumerationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/FlowService.DocumentEditor.DataContracts.Fields" minOccurs="0" name="GetEnumerationResult" nillable="true" type="q7:Enumeration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>