WoLaDLL/Service References/ManagerService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FlowService.Manager.DataContracts.Resources.Materials" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FlowService.Manager.DataContracts.Resources.Materials" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://wfe.mik.uni-pannon.hu:8735/FlowService/ManagerService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FlowService.Manager.DataContracts.Resources" />
  <xs:complexType name="Material">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/FlowService.Manager.DataContracts.Resources" base="q1:Resource">
        <xs:sequence>
          <xs:element minOccurs="0" name="Category" nillable="true" type="tns:MaterialCategory" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Material" nillable="true" type="tns:Material" />
  <xs:complexType name="MaterialCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MaterialCategory" nillable="true" type="tns:MaterialCategory" />
  <xs:complexType name="ArrayOfMaterial">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Material" nillable="true" type="tns:Material" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMaterial" nillable="true" type="tns:ArrayOfMaterial" />
  <xs:complexType name="ArrayOfMaterialCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MaterialCategory" nillable="true" type="tns:MaterialCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMaterialCategory" nillable="true" type="tns:ArrayOfMaterialCategory" />
</xs:schema>