WoLaDLL/Service References/ManagerService/item5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FlowService.Manager.DataContracts.Resources.Menu" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FlowService.Manager.DataContracts.Resources.Menu" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://wfe.mik.uni-pannon.hu:8735/FlowService/ManagerService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FlowService.Manager.DataContracts.Resources" />
  <xs:complexType name="UserProfile">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Profile" nillable="true" type="tns:MenuProfile" />
      <xs:element minOccurs="0" name="ProfileId" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FlowService.Manager.DataContracts.Resources" minOccurs="0" name="User" nillable="true" type="q1:Workforce" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserProfile" nillable="true" type="tns:UserProfile" />
  <xs:complexType name="MenuProfile">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfMenu" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MenuProfile" nillable="true" type="tns:MenuProfile" />
  <xs:complexType name="ArrayOfMenu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Menu" nillable="true" type="tns:Menu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMenu" nillable="true" type="tns:ArrayOfMenu" />
  <xs:complexType name="Menu">
    <xs:sequence>
      <xs:element minOccurs="0" name="Icon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Profiles" nillable="true" type="tns:ArrayOfMenuProfile" />
      <xs:element minOccurs="0" name="Visible" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Menu" nillable="true" type="tns:Menu" />
  <xs:complexType name="ArrayOfMenuProfile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MenuProfile" nillable="true" type="tns:MenuProfile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMenuProfile" nillable="true" type="tns:ArrayOfMenuProfile" />
  <xs:complexType name="MenuItem">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Menu">
        <xs:sequence>
          <xs:element minOccurs="0" name="ControllerName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FunctionName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Groups" nillable="true" type="tns:ArrayOfMenuGroup" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MenuItem" nillable="true" type="tns:MenuItem" />
  <xs:complexType name="ArrayOfMenuGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MenuGroup" nillable="true" type="tns:MenuGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMenuGroup" nillable="true" type="tns:ArrayOfMenuGroup" />
  <xs:complexType name="MenuGroup">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Menu">
        <xs:sequence>
          <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfMenuItem" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MenuGroup" nillable="true" type="tns:MenuGroup" />
  <xs:complexType name="ArrayOfMenuItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MenuItem" nillable="true" type="tns:MenuItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMenuItem" nillable="true" type="tns:ArrayOfMenuItem" />
  <xs:complexType name="ArrayOfUserProfile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserProfile" nillable="true" type="tns:UserProfile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserProfile" nillable="true" type="tns:ArrayOfUserProfile" />
  <xs:complexType name="VisibleItem">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Visible">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VisibleItem" nillable="true" type="tns:VisibleItem" />
  <xs:complexType name="Visible">
    <xs:sequence>
      <xs:element minOccurs="0" name="Enabled" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Item" nillable="true" type="tns:MenuItem" />
      <xs:element minOccurs="0" name="ItemId" type="xs:int" />
      <xs:element minOccurs="0" name="Profile" nillable="true" type="tns:MenuProfile" />
      <xs:element minOccurs="0" name="ProfileId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Visible" nillable="true" type="tns:Visible" />
  <xs:complexType name="VisibleGroup">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Visible">
        <xs:sequence>
          <xs:element minOccurs="0" name="Group" nillable="true" type="tns:MenuGroup" />
          <xs:element minOccurs="0" name="GroupId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VisibleGroup" nillable="true" type="tns:VisibleGroup" />
</xs:schema>