WoLaDLL/Service References/ManagerService/item6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FlowService.Manager.DataContracts.Resources.PropertyTypes.PropertyValues" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FlowService.Manager.DataContracts.Resources.PropertyTypes.PropertyValues" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://wfe.mik.uni-pannon.hu:8735/FlowService/ManagerService/?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/FlowService.Manager.DataContracts.Resources.PropertyTypes" />
  <xs:complexType name="PropertyValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PropertyValue" nillable="true" type="tns:PropertyValue" />
  <xs:complexType name="BooleanValue">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PropertyValue">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FlowService.Manager.DataContracts.Resources.PropertyTypes" minOccurs="0" name="PropertyType" nillable="true" type="q1:BooleanProperty" />
          <xs:element minOccurs="0" name="Value" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BooleanValue" nillable="true" type="tns:BooleanValue" />
  <xs:complexType name="DoubleValue">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PropertyValue">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FlowService.Manager.DataContracts.Resources.PropertyTypes" minOccurs="0" name="PropertyType" nillable="true" type="q2:DoubleProperty" />
          <xs:element minOccurs="0" name="Value" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DoubleValue" nillable="true" type="tns:DoubleValue" />
  <xs:complexType name="IntegerValue">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PropertyValue">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FlowService.Manager.DataContracts.Resources.PropertyTypes" minOccurs="0" name="PropertyType" nillable="true" type="q3:IntegerProperty" />
          <xs:element minOccurs="0" name="Value" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IntegerValue" nillable="true" type="tns:IntegerValue" />
  <xs:complexType name="StringValue">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PropertyValue">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FlowService.Manager.DataContracts.Resources.PropertyTypes" minOccurs="0" name="PropertyType" nillable="true" type="q4:StringProperty" />
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StringValue" nillable="true" type="tns:StringValue" />
  <xs:complexType name="PredefinedListValue">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PropertyValue">
        <xs:sequence>
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/FlowService.Manager.DataContracts.Resources.PropertyTypes" minOccurs="0" name="PropertyType" nillable="true" type="q5:PredefinedListProperty" />
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/FlowService.Manager.DataContracts.Resources.PropertyTypes" minOccurs="0" name="Value" nillable="true" type="q6:PredefinedListItem" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PredefinedListValue" nillable="true" type="tns:PredefinedListValue" />
  <xs:complexType name="UnitValue">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PropertyValue">
        <xs:sequence>
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/FlowService.Manager.DataContracts.Resources.PropertyTypes" minOccurs="0" name="PropertyType" nillable="true" type="q7:UnitProperty" />
          <xs:element minOccurs="0" name="Value" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UnitValue" nillable="true" type="tns:UnitValue" />
  <xs:complexType name="ArrayOfPropertyValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PropertyValue" nillable="true" type="tns:PropertyValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPropertyValue" nillable="true" type="tns:ArrayOfPropertyValue" />
</xs:schema>