Luna_interpreter/Service References/WoLaService/item41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FlowService.Manager.DataContracts.Resources.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FlowService.Manager.DataContracts.Resources.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://wfe.mik.uni-pannon.hu:8735/FlowService/WoLaService/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/FlowService.Manager.DataContracts.Resources" />
  <xs:complexType name="Service">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/FlowService.Manager.DataContracts.Resources" base="q1:Resource">
        <xs:sequence>
          <xs:element minOccurs="0" name="Company" nillable="true" type="tns:ProviderCompany" />
          <xs:element minOccurs="0" name="ServiceType" nillable="true" type="tns:ServiceType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Service" nillable="true" type="tns:Service" />
  <xs:complexType name="ProviderCompany">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProviderCompany" nillable="true" type="tns:ProviderCompany" />
  <xs:complexType name="ServiceType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceType" nillable="true" type="tns:ServiceType" />
</xs:schema>