Luna_interpreter/Service References/WoLaService/WoLaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://wfe.mik.uni-pannon.hu/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WoLaService" targetNamespace="http://wfe.mik.uni-pannon.hu/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IWoLaService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:BasicAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://wfe.mik.uni-pannon.hu/Imports">
      <xsd:import schemaLocation="https://wfe.mik.uni-pannon.hu:8735/FlowService/WoLaService/?xsd=xsd0" namespace="http://wfe.mik.uni-pannon.hu/" />
      <xsd:import schemaLocation="https://wfe.mik.uni-pannon.hu:8735/FlowService/WoLaService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FlowService.WoLa" />
      <xsd:import schemaLocation="https://wfe.mik.uni-pannon.hu:8735/FlowService/WoLaService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://wfe.mik.uni-pannon.hu:8735/FlowService/WoLaService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/FlowService.WoLa.Fields" />
      <xsd:import schemaLocation="https://wfe.mik.uni-pannon.hu:8735/FlowService/WoLaService/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/FlowService.Manager.DataContracts.Resources" />
      <xsd:import schemaLocation="https://wfe.mik.uni-pannon.hu:8735/FlowService/WoLaService/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/FlowService.Manager.DataContracts.Resources.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWoLaService_GetFieldById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFieldById" />
  </wsdl:message>
  <wsdl:message name="IWoLaService_GetFieldById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFieldByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IWoLaService_GetFieldById_BasicFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/FlowService.WoLa" name="detail" element="q1:BasicFault" />
  </wsdl:message>
  <wsdl:message name="IWoLaService_SetFieldValueById_InputMessage">
    <wsdl:part name="parameters" element="tns:SetFieldValueById" />
  </wsdl:message>
  <wsdl:message name="IWoLaService_SetFieldValueById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetFieldValueByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IWoLaService_SetFieldValueById_BasicFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/FlowService.WoLa" name="detail" element="q2:BasicFault" />
  </wsdl:message>
  <wsdl:message name="IWoLaService_GetFieldValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFieldValue" />
  </wsdl:message>
  <wsdl:message name="IWoLaService_GetFieldValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFieldValueResponse" />
  </wsdl:message>
  <wsdl:message name="IWoLaService_GetDocumentId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentId" />
  </wsdl:message>
  <wsdl:message name="IWoLaService_GetDocumentId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentIdResponse" />
  </wsdl:message>
  <wsdl:message name="IWoLaService_GetSectionId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSectionId" />
  </wsdl:message>
  <wsdl:message name="IWoLaService_GetSectionId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSectionIdResponse" />
  </wsdl:message>
  <wsdl:message name="IWoLaService_GetFieldId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFieldId" />
  </wsdl:message>
  <wsdl:message name="IWoLaService_GetFieldId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFieldIdResponse" />
  </wsdl:message>
  <wsdl:message name="IWoLaService_GetFieldIdByNameAndDocumentId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFieldIdByNameAndDocumentId" />
  </wsdl:message>
  <wsdl:message name="IWoLaService_GetFieldIdByNameAndDocumentId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFieldIdByNameAndDocumentIdResponse" />
  </wsdl:message>
  <wsdl:message name="IWoLaService_GetFieldValueByProccessInstace_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFieldValueByProccessInstace" />
  </wsdl:message>
  <wsdl:message name="IWoLaService_GetFieldValueByProccessInstace_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFieldValueByProccessInstaceResponse" />
  </wsdl:message>
  <wsdl:message name="IWoLaService_GetWorkforceByWhereClauseAndSorting_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkforceByWhereClauseAndSorting" />
  </wsdl:message>
  <wsdl:message name="IWoLaService_GetWorkforceByWhereClauseAndSorting_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkforceByWhereClauseAndSortingResponse" />
  </wsdl:message>
  <wsdl:portType name="IWoLaService">
    <wsdl:operation name="GetFieldById">
      <wsdl:input wsam:Action="http://wfe.mik.uni-pannon.hu/IWoLaService/GetFieldById" message="tns:IWoLaService_GetFieldById_InputMessage" />
      <wsdl:output wsam:Action="http://wfe.mik.uni-pannon.hu/IWoLaService/GetFieldByIdResponse" message="tns:IWoLaService_GetFieldById_OutputMessage" />
      <wsdl:fault wsam:Action="http://wfe.mik.uni-pannon.hu/IWoLaService/GetFieldByIdBasicFaultFault" name="BasicFaultFault" message="tns:IWoLaService_GetFieldById_BasicFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetFieldValueById">
      <wsdl:input wsam:Action="http://wfe.mik.uni-pannon.hu/IWoLaService/SetFieldValueById" message="tns:IWoLaService_SetFieldValueById_InputMessage" />
      <wsdl:output wsam:Action="http://wfe.mik.uni-pannon.hu/IWoLaService/SetFieldValueByIdResponse" message="tns:IWoLaService_SetFieldValueById_OutputMessage" />
      <wsdl:fault wsam:Action="http://wfe.mik.uni-pannon.hu/IWoLaService/SetFieldValueByIdBasicFaultFault" name="BasicFaultFault" message="tns:IWoLaService_SetFieldValueById_BasicFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFieldValue">
      <wsdl:input wsam:Action="http://wfe.mik.uni-pannon.hu/IWoLaService/GetFieldValue" message="tns:IWoLaService_GetFieldValue_InputMessage" />
      <wsdl:output wsam:Action="http://wfe.mik.uni-pannon.hu/IWoLaService/GetFieldValueResponse" message="tns:IWoLaService_GetFieldValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentId">
      <wsdl:input wsam:Action="http://wfe.mik.uni-pannon.hu/IWoLaService/GetDocumentId" message="tns:IWoLaService_GetDocumentId_InputMessage" />
      <wsdl:output wsam:Action="http://wfe.mik.uni-pannon.hu/IWoLaService/GetDocumentIdResponse" message="tns:IWoLaService_GetDocumentId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSectionId">
      <wsdl:input wsam:Action="http://wfe.mik.uni-pannon.hu/IWoLaService/GetSectionId" message="tns:IWoLaService_GetSectionId_InputMessage" />
      <wsdl:output wsam:Action="http://wfe.mik.uni-pannon.hu/IWoLaService/GetSectionIdResponse" message="tns:IWoLaService_GetSectionId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFieldId">
      <wsdl:input wsam:Action="http://wfe.mik.uni-pannon.hu/IWoLaService/GetFieldId" message="tns:IWoLaService_GetFieldId_InputMessage" />
      <wsdl:output wsam:Action="http://wfe.mik.uni-pannon.hu/IWoLaService/GetFieldIdResponse" message="tns:IWoLaService_GetFieldId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFieldIdByNameAndDocumentId">
      <wsdl:input wsam:Action="http://wfe.mik.uni-pannon.hu/IWoLaService/GetFieldIdByNameAndDocumentId" message="tns:IWoLaService_GetFieldIdByNameAndDocumentId_InputMessage" />
      <wsdl:output wsam:Action="http://wfe.mik.uni-pannon.hu/IWoLaService/GetFieldIdByNameAndDocumentIdResponse" message="tns:IWoLaService_GetFieldIdByNameAndDocumentId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFieldValueByProccessInstace">
      <wsdl:input wsam:Action="http://wfe.mik.uni-pannon.hu/IWoLaService/GetFieldValueByProccessInstace" message="tns:IWoLaService_GetFieldValueByProccessInstace_InputMessage" />
      <wsdl:output wsam:Action="http://wfe.mik.uni-pannon.hu/IWoLaService/GetFieldValueByProccessInstaceResponse" message="tns:IWoLaService_GetFieldValueByProccessInstace_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkforceByWhereClauseAndSorting">
      <wsdl:input wsam:Action="http://wfe.mik.uni-pannon.hu/IWoLaService/GetWorkforceByWhereClauseAndSorting" message="tns:IWoLaService_GetWorkforceByWhereClauseAndSorting_InputMessage" />
      <wsdl:output wsam:Action="http://wfe.mik.uni-pannon.hu/IWoLaService/GetWorkforceByWhereClauseAndSortingResponse" message="tns:IWoLaService_GetWorkforceByWhereClauseAndSorting_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWoLaService" type="tns:IWoLaService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IWoLaService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFieldById">
      <soap:operation soapAction="http://wfe.mik.uni-pannon.hu/IWoLaService/GetFieldById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BasicFaultFault">
        <soap:fault use="literal" name="BasicFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetFieldValueById">
      <soap:operation soapAction="http://wfe.mik.uni-pannon.hu/IWoLaService/SetFieldValueById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BasicFaultFault">
        <soap:fault use="literal" name="BasicFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFieldValue">
      <soap:operation soapAction="http://wfe.mik.uni-pannon.hu/IWoLaService/GetFieldValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentId">
      <soap:operation soapAction="http://wfe.mik.uni-pannon.hu/IWoLaService/GetDocumentId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSectionId">
      <soap:operation soapAction="http://wfe.mik.uni-pannon.hu/IWoLaService/GetSectionId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFieldId">
      <soap:operation soapAction="http://wfe.mik.uni-pannon.hu/IWoLaService/GetFieldId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFieldIdByNameAndDocumentId">
      <soap:operation soapAction="http://wfe.mik.uni-pannon.hu/IWoLaService/GetFieldIdByNameAndDocumentId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFieldValueByProccessInstace">
      <soap:operation soapAction="http://wfe.mik.uni-pannon.hu/IWoLaService/GetFieldValueByProccessInstace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkforceByWhereClauseAndSorting">
      <soap:operation soapAction="http://wfe.mik.uni-pannon.hu/IWoLaService/GetWorkforceByWhereClauseAndSorting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WoLaService">
    <wsdl:port name="BasicHttpBinding_IWoLaService" binding="tns:BasicHttpBinding_IWoLaService">
      <soap:address location="https://wfe.mik.uni-pannon.hu:8735/FlowService/WoLaService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>