TestWoLaDLL/Service References/WoLaService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FlowService.WoLa.Fields" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FlowService.WoLa.Fields" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://wfe.mik.uni-pannon.hu:8735/FlowService/WoLaService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FlowService.WoLa" />
  <xs:complexType name="CheckBoxField">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/FlowService.WoLa" base="q1:Field">
        <xs:sequence>
          <xs:element minOccurs="0" name="DefaultValue" type="xs:boolean" />
          <xs:element minOccurs="0" name="Value" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CheckBoxField" nillable="true" type="tns:CheckBoxField" />
  <xs:complexType name="ComputedField">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/FlowService.WoLa" base="q2:Field">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ComputedField" nillable="true" type="tns:ComputedField" />
  <xs:complexType name="DateField">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/FlowService.WoLa" base="q3:Field">
        <xs:sequence>
          <xs:element minOccurs="0" name="DefaultValue" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Value" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DateField" nillable="true" type="tns:DateField" />
  <xs:complexType name="ImageField">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/FlowService.WoLa" base="q4:Field">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:base64Binary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ImageField" nillable="true" type="tns:ImageField" />
  <xs:complexType name="IntegerField">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/FlowService.WoLa" base="q5:Field">
        <xs:sequence>
          <xs:element minOccurs="0" name="DefaultValue" type="xs:int" />
          <xs:element minOccurs="0" name="Value" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IntegerField" nillable="true" type="tns:IntegerField" />
  <xs:complexType name="LabelField">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/FlowService.WoLa" base="q6:Field">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LabelField" nillable="true" type="tns:LabelField" />
  <xs:complexType name="PictureField">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/FlowService.WoLa" base="q7:Field">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:base64Binary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PictureField" nillable="true" type="tns:PictureField" />
  <xs:complexType name="RadioButtonField">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/FlowService.WoLa" base="q8:Field">
        <xs:sequence>
          <xs:element minOccurs="0" name="DefaultValue" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RadioButtonField" nillable="true" type="tns:RadioButtonField" />
  <xs:complexType name="RealField">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/FlowService.WoLa" base="q9:Field">
        <xs:sequence>
          <xs:element minOccurs="0" name="DefaultValue" type="xs:double" />
          <xs:element minOccurs="0" name="Value" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RealField" nillable="true" type="tns:RealField" />
  <xs:complexType name="SelectField">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/FlowService.WoLa" base="q10:Field">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SelectField" nillable="true" type="tns:SelectField" />
  <xs:complexType name="TextField">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.datacontract.org/2004/07/FlowService.WoLa" base="q11:Field">
        <xs:sequence>
          <xs:element minOccurs="0" name="DefaultValue" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextField" nillable="true" type="tns:TextField" />
  <xs:complexType name="TimeField">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/FlowService.WoLa" base="q12:Field">
        <xs:sequence>
          <xs:element minOccurs="0" name="DefaultValue" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Value" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TimeField" nillable="true" type="tns:TimeField" />
</xs:schema>