Luna_interpreter/Service References/BPMNEditorService/BPMNEditor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://wfe.mik.uni-pannon.hu/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BPMNEditor" targetNamespace="http://wfe.mik.uni-pannon.hu/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IBPMNEditor_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:BasicAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://wfe.mik.uni-pannon.hu/Imports">
      <xsd:import schemaLocation="https://wfe.mik.uni-pannon.hu:8735/FlowService/BPMNEditorService/?xsd=xsd0" namespace="http://wfe.mik.uni-pannon.hu/" />
      <xsd:import schemaLocation="https://wfe.mik.uni-pannon.hu:8735/FlowService/BPMNEditorService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://wfe.mik.uni-pannon.hu:8735/FlowService/BPMNEditorService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FlowService.BPMNEditor.DataContracts.BPMN.Objects" />
      <xsd:import schemaLocation="https://wfe.mik.uni-pannon.hu:8735/FlowService/BPMNEditorService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/FlowService.BPMNEditor.DataContracts.BPMN.Objects.Events.EndEvents" />
      <xsd:import schemaLocation="https://wfe.mik.uni-pannon.hu:8735/FlowService/BPMNEditorService/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/FlowService.BPMNEditor.DataContracts.BPMN.Objects.Events" />
      <xsd:import schemaLocation="https://wfe.mik.uni-pannon.hu:8735/FlowService/BPMNEditorService/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/FlowService.BPMNEditor.DataContracts.BPMN.Objects.Events.IntermediateEvents" />
      <xsd:import schemaLocation="https://wfe.mik.uni-pannon.hu:8735/FlowService/BPMNEditorService/?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/FlowService.BPMNEditor.DataContracts.BPMN.Objects.Events.StartEvents" />
      <xsd:import schemaLocation="https://wfe.mik.uni-pannon.hu:8735/FlowService/BPMNEditorService/?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/FlowService.BPMNEditor.DataContracts.BPMN.Objects.Gateways.ComplexGateways" />
      <xsd:import schemaLocation="https://wfe.mik.uni-pannon.hu:8735/FlowService/BPMNEditorService/?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/FlowService.BPMNEditor.DataContracts.BPMN.Objects.Gateways" />
      <xsd:import schemaLocation="https://wfe.mik.uni-pannon.hu:8735/FlowService/BPMNEditorService/?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/FlowService.BPMNEditor.DataContracts.BPMN.Objects.Gateways.ExclusiveGateways" />
      <xsd:import schemaLocation="https://wfe.mik.uni-pannon.hu:8735/FlowService/BPMNEditorService/?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/FlowService.BPMNEditor.DataContracts.BPMN.Objects.Gateways.InclusiveGateways" />
      <xsd:import schemaLocation="https://wfe.mik.uni-pannon.hu:8735/FlowService/BPMNEditorService/?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/FlowService.BPMNEditor.DataContracts.BPMN.Objects.Gateways.ParallelGateways" />
      <xsd:import schemaLocation="https://wfe.mik.uni-pannon.hu:8735/FlowService/BPMNEditorService/?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/FlowService.BPMNEditor.DataContracts.BPMN.Objects.Pins" />
      <xsd:import schemaLocation="https://wfe.mik.uni-pannon.hu:8735/FlowService/BPMNEditorService/?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/FlowService.BPMNEditor.DataContracts.BPMN.Objects.Tasks" />
      <xsd:import schemaLocation="https://wfe.mik.uni-pannon.hu:8735/FlowService/BPMNEditorService/?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/FlowService.BPMNEditor.DataContracts.BPMN.Flows" />
      <xsd:import schemaLocation="https://wfe.mik.uni-pannon.hu:8735/FlowService/BPMNEditorService/?xsd=xsd15" namespace="http://schemas.datacontract.org/2004/07/FlowService.BPMNEditor.DataContracts.BPMN.NonFunctional" />
      <xsd:import schemaLocation="https://wfe.mik.uni-pannon.hu:8735/FlowService/BPMNEditorService/?xsd=xsd16" namespace="http://schemas.datacontract.org/2004/07/FlowService.BPMNEditor.DataContracts.Document" />
      <xsd:import schemaLocation="https://wfe.mik.uni-pannon.hu:8735/FlowService/BPMNEditorService/?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/FlowService.Authentication" />
      <xsd:import schemaLocation="https://wfe.mik.uni-pannon.hu:8735/FlowService/BPMNEditorService/?xsd=xsd18" namespace="http://schemas.datacontract.org/2004/07/FlowService.BPMNEditor.DataContracts.Resources" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBPMNEditor_GetProcess_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProcess" />
  </wsdl:message>
  <wsdl:message name="IBPMNEditor_GetProcess_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProcessResponse" />
  </wsdl:message>
  <wsdl:message name="IBPMNEditor_SaveProcess_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveProcess" />
  </wsdl:message>
  <wsdl:message name="IBPMNEditor_SaveProcess_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveProcessResponse" />
  </wsdl:message>
  <wsdl:message name="IBPMNEditor_DeleteProcess_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProcess" />
  </wsdl:message>
  <wsdl:message name="IBPMNEditor_DeleteProcess_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProcessResponse" />
  </wsdl:message>
  <wsdl:message name="IBPMNEditor_GetProcesses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProcesses" />
  </wsdl:message>
  <wsdl:message name="IBPMNEditor_GetProcesses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProcessesResponse" />
  </wsdl:message>
  <wsdl:message name="IBPMNEditor_GetDocuments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocuments" />
  </wsdl:message>
  <wsdl:message name="IBPMNEditor_GetDocuments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="IBPMNEditor_GetDocumentSections_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentSections" />
  </wsdl:message>
  <wsdl:message name="IBPMNEditor_GetDocumentSections_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentSectionsResponse" />
  </wsdl:message>
  <wsdl:message name="IBPMNEditor_GetSectionById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSectionById" />
  </wsdl:message>
  <wsdl:message name="IBPMNEditor_GetSectionById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSectionByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IBPMNEditor_GetCredentials_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCredentials" />
  </wsdl:message>
  <wsdl:message name="IBPMNEditor_GetCredentials_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCredentialsResponse" />
  </wsdl:message>
  <wsdl:message name="IBPMNEditor_GetWorkforceGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkforceGroups" />
  </wsdl:message>
  <wsdl:message name="IBPMNEditor_GetWorkforceGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkforceGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="IBPMNEditor_GetEquipmentGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEquipmentGroups" />
  </wsdl:message>
  <wsdl:message name="IBPMNEditor_GetEquipmentGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEquipmentGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="IBPMNEditor_GetWorkforceGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkforceGroup" />
  </wsdl:message>
  <wsdl:message name="IBPMNEditor_GetWorkforceGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkforceGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IBPMNEditor_GetEquipmentGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEquipmentGroup" />
  </wsdl:message>
  <wsdl:message name="IBPMNEditor_GetEquipmentGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEquipmentGroupResponse" />
  </wsdl:message>
  <wsdl:portType name="IBPMNEditor">
    <wsdl:operation name="GetProcess">
      <wsdl:input wsam:Action="http://wfe.mik.uni-pannon.hu/IBPMNEditor/GetProcess" message="tns:IBPMNEditor_GetProcess_InputMessage" />
      <wsdl:output wsam:Action="http://wfe.mik.uni-pannon.hu/IBPMNEditor/GetProcessResponse" message="tns:IBPMNEditor_GetProcess_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveProcess">
      <wsdl:input wsam:Action="http://wfe.mik.uni-pannon.hu/IBPMNEditor/SaveProcess" message="tns:IBPMNEditor_SaveProcess_InputMessage" />
      <wsdl:output wsam:Action="http://wfe.mik.uni-pannon.hu/IBPMNEditor/SaveProcessResponse" message="tns:IBPMNEditor_SaveProcess_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProcess">
      <wsdl:input wsam:Action="http://wfe.mik.uni-pannon.hu/IBPMNEditor/DeleteProcess" message="tns:IBPMNEditor_DeleteProcess_InputMessage" />
      <wsdl:output wsam:Action="http://wfe.mik.uni-pannon.hu/IBPMNEditor/DeleteProcessResponse" message="tns:IBPMNEditor_DeleteProcess_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProcesses">
      <wsdl:input wsam:Action="http://wfe.mik.uni-pannon.hu/IBPMNEditor/GetProcesses" message="tns:IBPMNEditor_GetProcesses_InputMessage" />
      <wsdl:output wsam:Action="http://wfe.mik.uni-pannon.hu/IBPMNEditor/GetProcessesResponse" message="tns:IBPMNEditor_GetProcesses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocuments">
      <wsdl:input wsam:Action="http://wfe.mik.uni-pannon.hu/IBPMNEditor/GetDocuments" message="tns:IBPMNEditor_GetDocuments_InputMessage" />
      <wsdl:output wsam:Action="http://wfe.mik.uni-pannon.hu/IBPMNEditor/GetDocumentsResponse" message="tns:IBPMNEditor_GetDocuments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentSections">
      <wsdl:input wsam:Action="http://wfe.mik.uni-pannon.hu/IBPMNEditor/GetDocumentSections" message="tns:IBPMNEditor_GetDocumentSections_InputMessage" />
      <wsdl:output wsam:Action="http://wfe.mik.uni-pannon.hu/IBPMNEditor/GetDocumentSectionsResponse" message="tns:IBPMNEditor_GetDocumentSections_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSectionById">
      <wsdl:input wsam:Action="http://wfe.mik.uni-pannon.hu/IBPMNEditor/GetSectionById" message="tns:IBPMNEditor_GetSectionById_InputMessage" />
      <wsdl:output wsam:Action="http://wfe.mik.uni-pannon.hu/IBPMNEditor/GetSectionByIdResponse" message="tns:IBPMNEditor_GetSectionById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCredentials">
      <wsdl:input wsam:Action="http://wfe.mik.uni-pannon.hu/IBPMNEditor/GetCredentials" message="tns:IBPMNEditor_GetCredentials_InputMessage" />
      <wsdl:output wsam:Action="http://wfe.mik.uni-pannon.hu/IBPMNEditor/GetCredentialsResponse" message="tns:IBPMNEditor_GetCredentials_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkforceGroups">
      <wsdl:input wsam:Action="http://wfe.mik.uni-pannon.hu/IBPMNEditor/GetWorkforceGroups" message="tns:IBPMNEditor_GetWorkforceGroups_InputMessage" />
      <wsdl:output wsam:Action="http://wfe.mik.uni-pannon.hu/IBPMNEditor/GetWorkforceGroupsResponse" message="tns:IBPMNEditor_GetWorkforceGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEquipmentGroups">
      <wsdl:input wsam:Action="http://wfe.mik.uni-pannon.hu/IBPMNEditor/GetEquipmentGroups" message="tns:IBPMNEditor_GetEquipmentGroups_InputMessage" />
      <wsdl:output wsam:Action="http://wfe.mik.uni-pannon.hu/IBPMNEditor/GetEquipmentGroupsResponse" message="tns:IBPMNEditor_GetEquipmentGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkforceGroup">
      <wsdl:input wsam:Action="http://wfe.mik.uni-pannon.hu/IBPMNEditor/GetWorkforceGroup" message="tns:IBPMNEditor_GetWorkforceGroup_InputMessage" />
      <wsdl:output wsam:Action="http://wfe.mik.uni-pannon.hu/IBPMNEditor/GetWorkforceGroupResponse" message="tns:IBPMNEditor_GetWorkforceGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEquipmentGroup">
      <wsdl:input wsam:Action="http://wfe.mik.uni-pannon.hu/IBPMNEditor/GetEquipmentGroup" message="tns:IBPMNEditor_GetEquipmentGroup_InputMessage" />
      <wsdl:output wsam:Action="http://wfe.mik.uni-pannon.hu/IBPMNEditor/GetEquipmentGroupResponse" message="tns:IBPMNEditor_GetEquipmentGroup_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBPMNEditor" type="tns:IBPMNEditor">
    <wsp:PolicyReference URI="#BasicHttpBinding_IBPMNEditor_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProcess">
      <soap:operation soapAction="http://wfe.mik.uni-pannon.hu/IBPMNEditor/GetProcess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveProcess">
      <soap:operation soapAction="http://wfe.mik.uni-pannon.hu/IBPMNEditor/SaveProcess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProcess">
      <soap:operation soapAction="http://wfe.mik.uni-pannon.hu/IBPMNEditor/DeleteProcess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProcesses">
      <soap:operation soapAction="http://wfe.mik.uni-pannon.hu/IBPMNEditor/GetProcesses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocuments">
      <soap:operation soapAction="http://wfe.mik.uni-pannon.hu/IBPMNEditor/GetDocuments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentSections">
      <soap:operation soapAction="http://wfe.mik.uni-pannon.hu/IBPMNEditor/GetDocumentSections" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSectionById">
      <soap:operation soapAction="http://wfe.mik.uni-pannon.hu/IBPMNEditor/GetSectionById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCredentials">
      <soap:operation soapAction="http://wfe.mik.uni-pannon.hu/IBPMNEditor/GetCredentials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkforceGroups">
      <soap:operation soapAction="http://wfe.mik.uni-pannon.hu/IBPMNEditor/GetWorkforceGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEquipmentGroups">
      <soap:operation soapAction="http://wfe.mik.uni-pannon.hu/IBPMNEditor/GetEquipmentGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkforceGroup">
      <soap:operation soapAction="http://wfe.mik.uni-pannon.hu/IBPMNEditor/GetWorkforceGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEquipmentGroup">
      <soap:operation soapAction="http://wfe.mik.uni-pannon.hu/IBPMNEditor/GetEquipmentGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BPMNEditor">
    <wsdl:port name="BasicHttpBinding_IBPMNEditor" binding="tns:BasicHttpBinding_IBPMNEditor">
      <soap:address location="https://wfe.mik.uni-pannon.hu:8735/FlowService/BPMNEditorService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>