Luna_interpreter/Service References/BPMNEditorService/item16.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FlowService.BPMNEditor.DataContracts.BPMN.Flows" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FlowService.BPMNEditor.DataContracts.BPMN.Flows" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFlowObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FlowObject" nillable="true" type="tns:FlowObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFlowObject" nillable="true" type="tns:ArrayOfFlowObject" />
  <xs:complexType name="FlowObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromUid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToUid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FlowObject" nillable="true" type="tns:FlowObject" />
  <xs:complexType name="Association">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FlowObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="FromId" type="xs:int" />
          <xs:element minOccurs="0" name="ToId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Association" nillable="true" type="tns:Association" />
  <xs:complexType name="DefaultFlow">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SequenceFlow">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DefaultFlow" nillable="true" type="tns:DefaultFlow" />
  <xs:complexType name="SequenceFlow">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FlowObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="FromId" type="xs:int" />
          <xs:element minOccurs="0" name="ToId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SequenceFlow" nillable="true" type="tns:SequenceFlow" />
  <xs:complexType name="MessageFlow">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FlowObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="FromId" type="xs:int" />
          <xs:element minOccurs="0" name="ToId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MessageFlow" nillable="true" type="tns:MessageFlow" />
</xs:schema>