Luna_interpreter/Service References/BPMNEditorService/item18.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/FlowService.BPMNEditor.DataContracts.BPMN.Objects.Tasks" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FlowService.BPMNEditor.DataContracts.BPMN.Objects.Tasks" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://wfe.mik.uni-pannon.hu:8735/FlowService/BPMNEditorService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="https://wfe.mik.uni-pannon.hu:8735/FlowService/BPMNEditorService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FlowService.BPMNEditor.DataContracts.BPMN.Objects" />
  <xs:complexType name="SimpleUserTask">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UserTask">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SimpleUserTask" nillable="true" type="tns:SimpleUserTask" />
  <xs:complexType name="UserTask">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Task">
        <xs:sequence>
          <xs:element minOccurs="0" name="DefaultDuration" type="ser:duration" />
          <xs:element minOccurs="0" name="EquipmentGroupId" type="xs:int" />
          <xs:element minOccurs="0" name="TemplateSectionId" type="xs:int" />
          <xs:element minOccurs="0" name="WorkforceGroupId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserTask" nillable="true" type="tns:UserTask" />
  <xs:complexType name="Task">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/FlowService.BPMNEditor.DataContracts.BPMN.Objects" base="q1:BPMNObject">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Task" nillable="true" type="tns:Task" />
  <xs:complexType name="ParallelMultipleUserTask">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MultipleUserTask">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ParallelMultipleUserTask" nillable="true" type="tns:ParallelMultipleUserTask" />
  <xs:complexType name="MultipleUserTask">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UserTask">
        <xs:sequence>
          <xs:element minOccurs="0" name="RepeatCount" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MultipleUserTask" nillable="true" type="tns:MultipleUserTask" />
  <xs:complexType name="SequentialMultipleUserTask">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MultipleUserTask">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SequentialMultipleUserTask" nillable="true" type="tns:SequentialMultipleUserTask" />
</xs:schema>