Luna_interpreter/Service References/BPMNEditorService/item15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FlowService.BPMNEditor.DataContracts.BPMN.Objects.Events.EndEvents" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FlowService.BPMNEditor.DataContracts.BPMN.Objects.Events.EndEvents" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://wfe.mik.uni-pannon.hu:8735/FlowService/BPMNEditorService/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/FlowService.BPMNEditor.DataContracts.BPMN.Objects.Events" />
  <xs:complexType name="TerminateEndEvent">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/FlowService.BPMNEditor.DataContracts.BPMN.Objects.Events" base="q1:Event">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TerminateEndEvent" nillable="true" type="tns:TerminateEndEvent" />
  <xs:complexType name="MessageEndEvent">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/FlowService.BPMNEditor.DataContracts.BPMN.Objects.Events" base="q2:Event">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MessageEndEvent" nillable="true" type="tns:MessageEndEvent" />
  <xs:complexType name="NormalEndEvent">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/FlowService.BPMNEditor.DataContracts.BPMN.Objects.Events" base="q3:Event">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NormalEndEvent" nillable="true" type="tns:NormalEndEvent" />
  <xs:complexType name="SignalEndEvent">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/FlowService.BPMNEditor.DataContracts.BPMN.Objects.Events" base="q4:Event">
        <xs:sequence>
          <xs:element minOccurs="0" name="Signal" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SignalEndEvent" nillable="true" type="tns:SignalEndEvent" />
</xs:schema>