WoLaDLL/Service References/EngineService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://wfe.mik.uni-pannon.hu/" elementFormDefault="qualified" targetNamespace="http://wfe.mik.uni-pannon.hu/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://wfe.mik.uni-pannon.hu:8735/FlowService/EngineService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FlowService.Engine.DataContracts" />
  <xs:element name="FireStartEventById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplateProcesses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplateProcessesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FlowService.Engine.DataContracts" minOccurs="0" name="GetTemplateProcessesResult" nillable="true" type="q1:ArrayOfProcess" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProcessInstances">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filterProcess" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProcessInstancesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FlowService.Engine.DataContracts" minOccurs="0" name="GetProcessInstancesResult" nillable="true" type="q2:ArrayOfProcessInstance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>