Luna_interpreter/Service References/LocationService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FlowService.LocationServices.DataContracts.Objects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FlowService.LocationServices.DataContracts.Objects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Workforce">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Resource">
        <xs:sequence>
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Workforce" nillable="true" type="tns:Workforce" />
  <xs:complexType name="Resource">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Resource" nillable="true" type="tns:Resource" />
  <xs:complexType name="Equipment">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Resource">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Equipment" nillable="true" type="tns:Equipment" />
  <xs:complexType name="SimpleUserTask">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="SimpleUserTask" nillable="true" type="tns:SimpleUserTask" />
  <xs:complexType name="WorkPlace">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkPlace" nillable="true" type="tns:WorkPlace" />
</xs:schema>