Luna_interpreter/Service References/LocationService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://wfe.mik.uni-pannon.hu:8735/FlowService/LocationService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FlowService.LocationServices.DataContracts" />
  <xs:element name="GetPossibleTagKeys">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPossibleTagKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FlowService.LocationServices.DataContracts" minOccurs="0" name="GetPossibleTagKeysResult" nillable="true" type="q1:ArrayOfKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKeyByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKeyByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FlowService.LocationServices.DataContracts" minOccurs="0" name="GetKeyByNameResult" nillable="true" type="q2:Key" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoubleFromCoordinate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="coordinate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoubleFromCoordinateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDoubleFromCoordinateResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagsForLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagsForLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FlowService.LocationServices.DataContracts" minOccurs="0" name="GetTagsForLocationResult" nillable="true" type="q3:ArrayOfTag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FlowService.LocationServices.DataContracts" minOccurs="0" name="tag" nillable="true" type="q4:Tag" />
        <xs:element minOccurs="0" name="locationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTagResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/FlowService.LocationServices.DataContracts" minOccurs="0" name="tag" nillable="true" type="q5:Tag" />
        <xs:element minOccurs="0" name="locationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTagResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTagResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/FlowService.LocationServices.DataContracts" minOccurs="0" name="location" nillable="true" type="q6:Location" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddLocationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLocations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="centerLatitude" type="xs:double" />
        <xs:element minOccurs="0" name="centerLongitude" type="xs:double" />
        <xs:element minOccurs="0" name="radius" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLocationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/FlowService.LocationServices.DataContracts" minOccurs="0" name="SearchLocationsResult" nillable="true" type="q7:ArrayOfLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLocations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLocationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/FlowService.LocationServices.DataContracts" minOccurs="0" name="GetAllLocationsResult" nillable="true" type="q8:ArrayOfLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/FlowService.LocationServices.DataContracts" minOccurs="0" name="location" nillable="true" type="q9:Location" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLocationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLocationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/FlowService.LocationServices.DataContracts" minOccurs="0" name="GetLocationResult" nillable="true" type="q10:Location" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLocationEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/FlowService.LocationServices.DataContracts" minOccurs="0" name="locationEntry" nillable="true" type="q11:LocationEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLocationEntryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddLocationEntryResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLocationEntries">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLocationEntriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/FlowService.LocationServices.DataContracts" minOccurs="0" name="GetAllLocationEntriesResult" nillable="true" type="q12:ArrayOfLocationEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationEntriesInInterval">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="from" type="xs:dateTime" />
        <xs:element minOccurs="0" name="to" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationEntriesInIntervalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/FlowService.LocationServices.DataContracts" minOccurs="0" name="GetLocationEntriesInIntervalResult" nillable="true" type="q13:ArrayOfLocationEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationEntriesFrom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="from" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationEntriesFromResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/FlowService.LocationServices.DataContracts" minOccurs="0" name="GetLocationEntriesFromResult" nillable="true" type="q14:ArrayOfLocationEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationEntriesTo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="to" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationEntriesToResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/FlowService.LocationServices.DataContracts" minOccurs="0" name="GetLocationEntriesToResult" nillable="true" type="q15:ArrayOfLocationEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationEntriesForLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationEntriesForLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/FlowService.LocationServices.DataContracts" minOccurs="0" name="GetLocationEntriesForLocationResult" nillable="true" type="q16:ArrayOfLocationEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationEntriesForLocationInInterval">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locationId" type="xs:int" />
        <xs:element minOccurs="0" name="from" type="xs:dateTime" />
        <xs:element minOccurs="0" name="to" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationEntriesForLocationInIntervalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/FlowService.LocationServices.DataContracts" minOccurs="0" name="GetLocationEntriesForLocationInIntervalResult" nillable="true" type="q17:ArrayOfLocationEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationEntriesForLocationFrom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locationId" type="xs:int" />
        <xs:element minOccurs="0" name="from" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationEntriesForLocationFromResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/FlowService.LocationServices.DataContracts" minOccurs="0" name="GetLocationEntriesForLocationFromResult" nillable="true" type="q18:ArrayOfLocationEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationEntriesForLocationTo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locationId" type="xs:int" />
        <xs:element minOccurs="0" name="to" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationEntriesForLocationToResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/FlowService.LocationServices.DataContracts" minOccurs="0" name="GetLocationEntriesForLocationToResult" nillable="true" type="q19:ArrayOfLocationEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntriesForObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/FlowService.LocationServices.DataContracts" minOccurs="0" name="locationEntry" nillable="true" type="q20:LocationEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntriesForObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/FlowService.LocationServices.DataContracts" minOccurs="0" name="GetEntriesForObjectResult" nillable="true" type="q21:ArrayOfLocationEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastEntryForObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/FlowService.LocationServices.DataContracts" minOccurs="0" name="locationEntry" nillable="true" type="q22:LocationEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastEntryForObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/FlowService.LocationServices.DataContracts" minOccurs="0" name="GetLastEntryForObjectResult" nillable="true" type="q23:LocationEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLocationEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locationEntryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLocationEntryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>