Luna_interpreter/Service References/LocationService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FlowService.LocationServices.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FlowService.LocationServices.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfKey">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Key" nillable="true" type="tns:Key" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKey" nillable="true" type="tns:ArrayOfKey" />
  <xs:complexType name="Key">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Key" nillable="true" type="tns:Key" />
  <xs:complexType name="ArrayOfTag">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tag" nillable="true" type="tns:Tag" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTag" nillable="true" type="tns:ArrayOfTag" />
  <xs:complexType name="Tag">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KeyDisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tag" nillable="true" type="tns:Tag" />
  <xs:complexType name="Location">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
      <xs:element minOccurs="0" name="Tags" nillable="true" type="tns:ArrayOfTag" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Location" nillable="true" type="tns:Location" />
  <xs:complexType name="ArrayOfLocation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Location" nillable="true" type="tns:Location" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocation" nillable="true" type="tns:ArrayOfLocation" />
  <xs:complexType name="LocationEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LocationId" type="xs:int" />
      <xs:element minOccurs="0" name="Moment" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocationEntry" nillable="true" type="tns:LocationEntry" />
  <xs:complexType name="ArrayOfLocationEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LocationEntry" nillable="true" type="tns:LocationEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocationEntry" nillable="true" type="tns:ArrayOfLocationEntry" />
</xs:schema>